<h1>Amazombie</h1>
<h2>Books</h2>
<p><%= @books.size %> available as of <%= formatted_time(@available_at) %></p>
<ol>
  <% @books.each do |book| %>
      <li>
        <%= link_to(book.title, book) %>
        by <%= book.author %>
      </li>
  <% end %>
</ol>